body{
    position: relative;
}

.cart{
    position: fixed;
    top: 46%;
    right: 0;
}

.cart-container{
    position: relative;
}

span.cart-number {
    font-size: 9px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    background: red;
    position: absolute;
    right: -10px;
    top: -7px;
}

.cart-expand{
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 280px;
    background-color: ghostwhite;
    overflow: scroll;
    transition: 2s;
}


.cart-expand-content{
    position: relative;
}

.expand-close{
    text-align: right;
}

.cart-expand::-webkit-scrollbar {
    width: 5px;
}

.cart-expand::-webkit-scrollbar-thumb {
background: grey; 
}

.cart-expand::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.hoverPointer:hover, .single-item-img svg{
    cursor: pointer;
}