
.btn{
    color: white !important;
    background: slateblue !important;
    border-radius: 0 !important;
}

.btn:hover{
    background-color: rgb(94, 75, 219) !important;
}


.text-slateblue{
    color: slateblue;
}

.search .search-btn{
    width: 100px;
}

.search #book-search{
    background: #ededed;
}