header .navbar-brand img{
    width: 175px;
}

header nav .login-btn{
    width: 100px;
}

header nav li{
    margin-right: 2rem;
}

header nav li a{
    font-weight: 700;
}

header .navbar-nav{
    display: flex;
    align-items: center;
}

@media (max-width: 591px){
    header nav li{
        margin: 0;
    }

    header nav .nav-link{
        text-align: center;
    }
}